{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cwp_enroll/css/bootstrap.min.css'%}">
    <script src="{% static 'cwp_enroll/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'cwp_enroll/js/popper.min.js' %}"></script>
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center alert alert-danger">Function base view modelfrom CRUD</h1>

        {% block content %}

        

        {% endblock content%} 


    </div>
    
</body>
</html>